# Get your free API key, sign up at https://regolo.ai/signup and generate one from your dashboard.
VITE_CHAT_NAME=regolino
VITE_CHAT_SUBTITLE="powered by regolo.ai"
VITE_CHAT_GREETING="Hello. I'm your assistant. How can I help you today?"
VITE_CHAT_PLACEHOLDER=Ask a question...